@model WebApplication3.Models.PostRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="Store">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Excerpt" class="control-label"></label>
                <input asp-for="Excerpt" class="form-control" />
                <span asp-validation-for="Excerpt" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label for="" class="control-label">Category</label>
                <select class="form-control" asp-items="ViewBag.Categories" asp-for="CategoryId" >
                    <option value="">
                    </option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-2">
                <button class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
